[submodule "src/main/kotlin/com/sunzhuo/kindle/module/sender/lib/readability"]
	path = src/main/kotlin/com/sunzhuo/kindle/module/sender/lib/readability
	url = https://github.com/mozilla/readability.git
